<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Disruptor" version="3.3.5.1" targetFramework="net461" />
  <package id="MessageHandler.Runtime" version="1.0.0-CI00042" targetFramework="net461" />
  <package id="MessageHandler.Runtime.EventProcessing" version="1.0.0-CI00030" targetFramework="net461" />
  <package id="WindowsAzure.ServiceBus" version="3.4.6" targetFramework="net461" />
</packages>